<form>
  <fieldset>
    <legend>Workout Log</legend>
    <fieldset>
      <label>Exercise Name:</label>
      <input type="text" name="name" id="name" size="30" maxlength="100">
    </fieldset>
    <br />
    <fieldset>
      <label>Reps:</label>
      <input type="number" name="reps" id="reps" size="30" maxlength="100">
    </fieldset>
    <br />
    <fieldset>
      <label>Weight:</label>
      <input type="number" name="weight" id="weight" size="30" maxlength="100">
      <label>
            <input type="checkbox" name="lbs" id="lbs" />Weight in pounds?</label>
    </fieldset>
    <br />
    <fieldset>
      <label>Date:</label>
      <input type="date" name="date" id="date">
    </fieldset>
    <br/>
    <input type="submit" value="Add New Workout To Log" id="submit"/>
    <input type="submit" value="Update Existing Entry" id="submit2"/>
 </fieldset>
</form>

<h1>Workout Log</h1>
<p id="results"></p>